* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

header {
    padding: 2em;
    background-color: blue;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}


header div {
    padding: 0.7em;
}

header .right-header {
    padding-right: 3em;
}

header .right-header button {
    color: rgb(14, 1, 1);
    margin-right: 1em;
    text-decoration: none;
    border: none;
    padding: 0.6em;
    text-transform: uppercase;
    font-size: 1.1em;
}

main {
    padding: 2em;
}

main .product-list-wrap {
    position: relative;
    width: 100%;
    text-align: center;
}

main .product-list {
    border: 2px solid #333;
    width: 20%;
    padding: 1em;
    display: inline-block;
    margin: 2em;
}

main .product-list .product-text {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5em;
}

input#product-1 {
    position: relative;
    left: -50%;
    width: 1.2em;
    height: 1.2em;
}

footer {
    position: relative;
    bottom: 0;
    padding: 2em;
    border-top: 1px solid #333;
    width: 100%;
}

footer p {
    text-align: center;
    color: #726a6a;
}