*{
    margin: 0;
    overflow: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

header {
    padding: 2em;
    background-color: blue;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

main {
    padding: 1em;
}

main div {
    position: relative;
    width: 100%; 
    margin: auto;
    padding-left: 2em;
}

main div #product_form {
    text-align: left;
    width: 300px;
    padding: 0%;
    margin: 20px
}
footer {
    position: relative;
    bottom: 0;  
    padding: 2em;
    width: 100%;
}

footer p {
    position: relative;
    text-align: center;
    color: #726a6a;
}