*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

header {
    padding: 2em;
    background-color: blue;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

main{
    padding: 1em;
}

footer {
    position: relative;
    bottom: 0;  
    padding: 2em;
    border-top: 1px, solod #333;
    width: 100%;
}

footer p {
    position: relative;
    text-align: center;
    color: #726a6a;
}